.canvas-container {
  position: relative;
  width: 300px;
  height: 150px;
}

.brush {
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明的黑色 */
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none; /* 使刷子不影响鼠标事件 */
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-in-out; /* 添加动画效果 */
}

.canvasHovered .brush {
  transform: scale(1.5); /* 悬停时放大刷子 */
}

.editor-toolkit-panel {
  position: fixed;
  bottom: 0.5rem;
  border-radius: 3rem;
  padding: 0.4rem 24px;
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(12px);
  background-color: rgba($color: #2b2828, $alpha: 1.0);
  animation: slideUp 0.2s ease-out;
  border: var(--editor-toolkit-panel-border);
  box-shadow: 0 0 0 1px #0000001a, 0 3px 16px #00000014, 0 2px 6px 1px #00000017;

  @include mobile {
    padding: 1rem 2rem;
    grid-template-areas:
      'toolkit-size-selector toolkit-size-selector'
      'toolkit-brush-slider toolkit-brush-slider'
      'toolkit-btns toolkit-btns';
    row-gap: 2rem;
    justify-items: center;
  }

  .eyeicon-active {
    background-color: var(--yellow-accent);
    color: var(--btn-text-hover-color);
  }
}